html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rebeccapurple;
    position: sticky;
    top: 0;
}

nav a {
    line-height: 65px;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    text-transform: capitalize;
}

section {
    height: calc(100vh - 65px);
    scroll-margin-top: 65px;
    padding: 20px;
    font-size: 25px;
}

#home {
    background-image: url(../sap2/ferotti.png);
}

#galery {
    background-color: slategray;
}

#about {
    background-color: khaki;
}

#contact {
    background-color: goldenrod;
}
p {
    font-size: 15px;
    padding-top: 20px;
}

.carouselExample {
    height: 200px;
}

.carousel-item {
    height: 700px;
}